<div class="container">
  <div class="wrapper">
    <div class="arrow-steps clearfix">
      <div class="step done"><span>Offline - Pré-Abertura</span></div>
      <div class="step done"><span>Offline - Apto para Abertura</span></div>
      <div class="step done"><span>Aberto sem Grade</span></div>
      <div class="step done"><span>Online - Grade Completa</span></div>
      <div class="step current"><span>Online - Grade SPI</span></div>
      <div class="step"><span>Online - Grade sem STR</span></div>
      <div class="step"><span>Offline - Sem Mercado</span></div>
      <div class="step"><span>Offline - Apto para Conciliação</span></div>
      <div class="step"><span>Offline - Conciliação</span></div>
      <div class="step">
        <span>Offline - Apto para Pré Abertura</span>
      </div>
    </div>
    <div style="margin-left: 445px; margin-top: 24px">
      <span>OU</span>
    </div>
    <div class="arrow-steps clearfix">
      <div style="margin-left: 390px; margin-top: 24px" class="step">
        <span>Aberto sem STR</span>
      </div>
    </div>
  </div>
</div>
