<h1 class="titulo-principal">Grade Horária</h1>

<!-- Exibe mensagem de erro se houver -->
<div *ngIf="errorMessageGrade; else showGrades">
  <p class="error-message">{{ errorMessageGrade }}</p>
</div>

<ng-template #showGrades>
  <div class="container">
    <!-- Loop para exibir os dados de cada grade -->
    <div class="card" *ngFor="let grade of grades">
      <div class="title">
        <div>
          <h1>{{ grade.codigo }}:</h1>
          <!-- Define a cor com base no status: verde para 'AberTO' e vermelho para 'FECHADA' -->
          <h2
            [ngStyle]="{
              color: grade.status === 'ABERTO' ? 'limegreen' : 'red'
            }"
          >
            {{ grade.status }}
          </h2>
        </div>
      </div>
      <div class="content">
        <div class="social">
          <p>{{ grade.dataHora }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<hr />

<app-ciclo-vida></app-ciclo-vida>
